@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter";
  scroll-behavior: smooth;
}

body {
  background: #222222;
  min-height: 100vh;
}

.gradient-bg {
  background: linear-gradient(180deg, #222 0%, #444 50.52%, #666 100%);
}

body,
html {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  padding: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background: transparent;
  transition: all 300ms ease-in-out;
  background: #444;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
  border: 5px solid transparent;
}

:root {
  --color-text-regular: #800000;
}

.dark {
  --color-text-regular: #d1d5db;
}
.primary-btn {
  background-color: #f95292;
}
.primary-pink {
  color: #f95292;
}
.pink-border {
  border: #f95292 solid;
}
.bottom-border {
  border-bottom: 1px #3e3e3e solid;
}
.primary-border {
  border: 1px #3e3e3e solid;
}
.card-bg {
  background: "#242424";
}
.text-xs-custom {
  font-size: 13px;
  line-height: 1rem /* 16px */;
}
.text-gradient-gold {
  background: linear-gradient(to right, #b9a727, #e4f149, #be8e46);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-shadow {
  box-shadow: 3px 3px 0px 1px black;
}
.card-shadow:hover {
  box-shadow: 2px 2px 0px 0px black;
}
/* styles.css */
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-icon {
  fill: #f95292;
  stroke: #f95292;
  transition:
    fill 0.3s,
    stroke 0.3s;
}

.menu-icon:hover {
  fill: white !important;
  stroke: white !important;
}
