@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter";
  scroll-behavior: smooth;
}

body {
  background: #fdd8b2;
  min-height: 100vh;
}

.gradient-bg {
  background: linear-gradient(180deg, #fdd8b2 0%, #fff9f2 50.52%, #fdf1e6 100%);
}

body,
html {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  padding: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background: transparent;
  transition: all 300ms ease-in-out;
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background: #fff1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
  border: 5px solid transparent;
}
