@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter";
  scroll-behavior: smooth;
}

body {
  background: #fdd8b2;
  min-height: 100vh;
}

.dark body {
  background: #222222;
}

.gradient-bg {
  background: linear-gradient(180deg, #fdd8b2 0%, #fff9f2 50.52%, #fdf1e6 100%);
}

.dark .gradient-bg {
  background: linear-gradient(180deg, #222 0%, #444 50.52%, #666 100%);
}

body,
html {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  padding: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.5rem;
  background: transparent;
  transition: all 300ms ease-in-out;
}

/* Track on hover */
.dark ::-webkit-scrollbar-track:hover {
  background: #444;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
  border: 5px solid transparent;
}

.dark ::-webkit-scrollbar-thumb {
  background: #bbb;
}

:root {
  --color-text-regular: #800000;
}

.dark {
  --color-text-regular: #d1d5db;
}
.primary-btn {
  background-color: #f95292;
}
.primary-pink {
  color: #f95292;
}
.pink-border {
  border: #f95292 solid;
}
